<template>
    <div id="register">
        <div class="content">
            <v-form ref="form" v-model="valid">
                <v-container>
                    <v-row class="text-center">
                        <v-col cols="12">
                            <h2 class="font-weight-bold white-text mb-3" style="color: #52bd95;">REGISTRO DE CLIENTES</h2>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6" sm="4" offset-sm="2">
                            <v-text-field
                                v-model="form.names"
                                label="Nombres"
                                outlined
                                required
                                dark
                                :rules="rules.names"
                            />
                        </v-col>
                        <v-col cols="6" sm="4">
                            <v-text-field
                                v-model="form.lastnames"
                                label="Apellidos"
                                outlined
                                required
                                dark
                                :rules="rules.lastnames"
                            />
                        </v-col>
                        <v-col cols="6" sm="4" offset-sm="2">
                            <v-select
                                v-model="form.doc_type_id"
                                :items="getDocTypes"
                                item-text="name"
                                item-value="id"
                                label="Tipo de Documento"
                                outlined
                                required
                                dark
                                :rules="rules.doc_type_id"
                            />
                        </v-col>
                        <v-col cols="6" sm="4">
                            <v-text-field
                                v-model="form.document"
                                label="Número de Documento"
                                outlined
                                required
                                dark
                                :rules="rules.document"
                            />
                        </v-col>
                        <v-col cols="6" sm="4" offset-sm="2">
                            <v-text-field
                                v-model="form.email"
                                label="Email"
                                prepend-inner-icon="mdi-email"
                                type="email"
                                outlined
                                required
                                dark
                                :error="mail.err"
                                :error-messages="mail.msg"
                                :rules="rules.email"
                            />
                        </v-col>
                        <v-col cols="6" sm="4">
                            <v-text-field
                                v-model="form.address"
                                label="Dirección"
                                prepend-inner-icon="mdi-home"
                                outlined
                                required
                                dark
                                :rules="rules.address"
                            />
                        </v-col>
                        <v-col cols="12" sm="8" offset-sm="2">
                            <v-btn @click="submit" large class="mr-4 fw-900" color="#52bd95">CREAR</v-btn>
                            <v-btn outlined dark href="#/">CANCELAR</v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
            <v-snackbar class="alert-wrong" v-model="snackbarError" dark right top :timeout="6000">
                <span class="alert-wrong-text" v-text="snackbarErrorMsg"></span>
                <v-btn class="right" icon @click="snackbarError = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-snackbar>
        </div>
    </div>
</template>

<script>
    import axios from '../axios'

    export default {
        names: 'Register',
        data() {
            return {
                snackbarError: null,
                snackbarErrorMsg: '',
                show1: false,
                show2: false,
                valid: null,
                form: {
                    names: '',
                    lastnames: '',
                    doc_type_id: '',
                    document: '',
                    email: '',
                    address: ''
                },
                mail: {
                    msg: '',
                    err: false,
                },
                rules: {
                    names: [
                        v => !!v || 'El nombre es requerido',
                        v => (v && v.length >= 3) || 'Debe tener al menos 3 letras',
                    ],
                    lastnames: [
                        v => !!v || 'El apellido es requerido',
                        v => (v && v.length >= 3) || 'Debe tener al menos 3 letras',
                    ],
                    doc_type_id: [
                        v => !!v || 'El tipo de documento es requerido'
                    ],
                    document: [
                        v => !!v || 'El documento es requerido',
                        v => (v && v.length >= 6) || 'Debe tener al menos 6 números',
                        v => (v && v.length <= 10) || 'Debe tener máximo 10 números'
                    ],
                    email: [
                        v => !!v || 'El email es requerido',
                        v => (v && v.length >= 3) || 'Debe tener al menos 3 letras',
                        v => new RegExp('[^@]+@[^@]+\\.[^@]+').test(v) || 'El email no es válido',
                        //this.validateMail
                    ],
                    address: [
                        v => !!v || 'La dirección es requerida',
                        v => (v && v.length >= 10) || 'Debe tener al menos 10 letras',
                    ]
                }
            }
        },
        computed: {
            getCurrentUser() {
                return this.$store.getters.getCurrentUser
            },
            getDocTypes() {
                return this.$store.getters.getDocTypes
            }
        },
        mounted() {
            this.$store.dispatch('currentUser')
            this.$store.dispatch('allDocTypes')
        },
        methods: {
            submit () {
                this.$refs.form.validate();
                if (this.valid) {
                    let formData = new FormData()
                    formData.append('names', this.form.names.toUpperCase())
                    formData.append('lastnames', this.form.lastnames.toUpperCase())
                    formData.append('doc_type_id', this.form.doc_type_id)
                    formData.append('document', this.form.document.toUpperCase())
                    formData.append('email', this.form.email.toLowerCase())
                    formData.append('address', this.form.address.toUpperCase())
                    axios.post('customers/store', formData, {
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.token,
                                'role_id': localStorage.role_id
                            }
                        })
                        .then((res) => {
                            console.log(res)
                            this.$router.replace('/customers')
                        })
                        .catch((err) => {
                            this.snackbarError = true
                            this.snackbarErrorMsg = 'Error al crear el cliente'
                            console.log(err.config)
                        })
                } else {
                    this.snackbarError = true
                    this.snackbarErrorMsg = 'Revisa el formulario'
                }
            }
        }
    };
</script>

<style>
    .v-input__prepend-inner {
        padding-right: 10px!important;
    }

    .alert-wrong .v-snack__wrapper {
        background-color: rgb(193, 5, 5)!important;
    }

    .alert-ok .v-snack__wrapper {
        background-color: rgb(2, 104, 18)!important;
    }

    .alert-wrong i.v-icon {
        color: white;
    }

    .alert-wrong .alert-wrong-text {
        text-transform: uppercase;
        font-weight: 500;
    }

    .alert-ok .alert-ok-text {
        text-transform: uppercase;
        font-weight: 500;
    }
	
	#register .select-avatar.v-image {
		border: solid 6px transparent;
		border-radius: 50%;
		cursor: pointer;
		transform: scale(0.9);
		transition: 0.5s;
	}

    .white-text {
        color: white!important;
    }

	#register .select-avatar.v-image:hover {
		transform: scale(1);
	}

	#register .select-avatar.v-image.selected-avatar {
		background-color: #52bd95;
		border-color: #52bd95;
		transform: scale(1);
	}
</style>