<template>
    <v-container id="list-customers">
        <v-row>
            <v-col cols="8" offset="2">
                <v-row>
                    <v-col cols="12" sm="7" lg="8">
                        <div class="v-align-center">
                            <h2 class="section-title white-text" style="color: #52bd95;">LISTADO DE CLIENTES</h2>
                        </div>
                    </v-col>
                    <v-col cols="12" sm="5" lg="4" class="text-right">
                        <v-text-field
                            v-model="customerSearched"
                            :clear-icon-cb="showCustomers()"
                            class="search"
                            label="Buscar por Nombre"
                            prepend-inner-icon="mdi-magnify"
                            clearable
                            dark
                            dense
                            outlined
                            @keyup="searchText()"
                        />
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="8" offset="2">
                <v-list two-line dense subheader dark color="transparent" width="100%">
                    <v-divider/>
                    <div v-for="(customer, i) in getCustomers" :key="i">
                        <v-list-item v-if="customer.show" @click.stop="viewCustomer(i)">
                            <v-list-item-content>
                                <v-list-item-title  v-text="customer.names + ' ' + customer.lastnames"/>
                                <v-list-item-subtitle v-text="customer.email"/>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-btn icon @click.stop="editCustomer(i)">
                                    <v-icon color="#52bd95">mdi-pencil</v-icon>
                                </v-btn>
                            </v-list-item-action>
                            <v-list-item-action>
                                <v-btn icon @click.stop="deleteCustomer(i)">
                                    <v-icon color="#52bd95">mdi-delete</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                        <v-divider/>
                    </div>
                </v-list>
            </v-col>
        </v-row>
        <v-row>
            <v-tooltip content-class="tooltip" color="#323042" left>
                <template v-slot:activator="{ on }">
                    <v-btn class="btn-add-element" absolute fixed right fab color="#52bd95" v-on="on" href="#/customers/new">
                        <v-icon>mdi-account-plus</v-icon>
                    </v-btn>
                </template>
                <span>Añadir Usuario</span>
            </v-tooltip>
            <v-dialog v-model="dialog" max-width="350">
                <v-card class="customer" v-model="customerToShow">
                    <v-card-title class="text-center mb-3">
                        <v-col>
                            <span class="text-center d-inline-block full-width" v-text="customerToShow.names +' '+ customerToShow.lastnames"/>
                        </v-col>
                    </v-card-title>
                    <v-card-text class="py-0">
                        <v-row>
                            <v-col class="line-height-1" cols="12">
                                <label class="show" style="text-transform: capitalize;" v-text="customerToShow.doc_type ? customerToShow.doc_type.name.toLowerCase() : 'Documento'"></label>
                                <div>
                                    <h3 class="data d-inline-block full-width" v-text="customerToShow.document"/>
                                </div>
                            </v-col>
                            <v-col class="line-height-1" cols="12">
                                <label class="show">Correo Electrónico</label>
                                <div>
                                    <h3 class="data d-inline-block full-width" v-text="customerToShow.email"/>
                                </div>
                            </v-col>
                            <v-col class="line-height-1" cols="12">
                                <label class="show">Dirección</label>
                                <div>
                                    <h3 class="data d-inline-block full-width" v-text="customerToShow.address"/>
                                </div>
                            </v-col>
                            <v-col class="line-height-1" cols="12">
                                <label class="show">Creación</label>
                                <div>
                                    <h3 class="data d-inline-block full-width" v-text="customerToShow.created_at"/>
                                </div>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions class="py-8">
                        <v-spacer></v-spacer>
                        <v-btn color="#211e32" outlined @click="showToEdit()">
                            Editar
                        </v-btn>
                        <v-btn color="#211e32" dark @click="showToDelete()">
                            Eliminar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogEdit" persistent scrollable max-width="350">
                <v-card class="customer">
                    <v-card-title class="text-center mb-3">
                        <v-col>
                            <span class="text-center d-inline-block full-width" v-text="'Editar Usuario'"/>
                        </v-col>
                    </v-card-title>
                    <v-card-text>
                        <v-form ref="form" v-model="valid">
                            <v-row>
                                <v-col class="pb-0 pt-5" cols="12">
                                    <v-text-field
                                        v-model="form.names"
                                        label="Nombres"
                                        prepend-inner-icon="mdi-account"
                                        outlined
                                        dense
                                        :value="customerToEdit.names"
                                        :rules="rules.names"
                                    />
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-text-field
                                        v-model="form.lastnames"
                                        label="Apellidos"
                                        prepend-inner-icon="mdi-account"
                                        outlined
                                        dense
                                        :value="customerToEdit.lastnames"
                                        :rules="rules.lastnames"
                                    />
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-select
                                        v-model="form.doc_type_id"
                                        :items="getDocTypes"
                                        item-text="name"
                                        item-value="id"
                                        label="Tipo de Documento"
                                        prepend-inner-icon="mdi-format-list-bulleted"
                                        outlined
                                        dense
                                        :value="customerToEdit.doc_type_id"
                                        :rules="rules.doc_type_id"
                                    />
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-text-field
                                        v-model="form.document"
                                        label="Documento"
                                        prepend-inner-icon="mdi-card-account-details"
                                        outlined
                                        dense
                                        :value="customerToEdit.document"
                                        :rules="rules.document"
                                    />
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-text-field
                                        v-model="form.email"
                                        label="Correo Electrónico"
                                        prepend-inner-icon="mdi-email"
                                        outlined
                                        dense
                                        :value="customerToEdit.email"
                                        :rules="rules.email"
                                    />
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-text-field
                                        v-model="form.address"
                                        label="Dirección"
                                        prepend-inner-icon="mdi-home"
                                        outlined
                                        dense
                                        :value="customerToEdit.address"
                                        :rules="rules.address"
                                    />
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-card-text>
                    <v-card-actions class="pb-8">
                        <v-spacer></v-spacer>
                        <v-btn color="#211e32" outlined @click="dialogEdit = false">
                            Salir
                        </v-btn>
                        <v-btn color="#211e32" dark @click="submit()">
                            Actualizar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" persistent scrollable max-width="350">
                <v-card class="customer">
                    <v-card-title class="text-center mb-3">
                        <v-row>
                            <v-col>
                                <span class="text-center d-inline-block full-width" v-text="'ELIMINAR A ' + customerToShow.names +' '+ customerToShow.lastnames"/>
                            </v-col>
                        </v-row>
                    </v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col>
                                <p class="text-center">Esta acción no se podrá revertir. Esta seguro?</p>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions class="pb-8">
                        <v-spacer></v-spacer>
                        <v-btn color="#211e32" outlined @click="dialogDelete = false">
                            Salir
                        </v-btn>
                        <v-btn color="#211e32" dark @click="destroy()">
                            Eliminar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
        <v-snackbar class="alert-wrong" v-model="snackbarError" dark right top :timeout="6000">
            <span class="alert-wrong-text" v-text="snackbarErrorMsg"></span>
            <v-btn class="right" icon @click="snackbarError = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>
        <v-snackbar class="alert-ok" v-model="snackbarOk" dark right top :timeout="6000">
            <span class="alert-ok-text" v-text="snackbarOkMsg"></span>
            <v-btn class="right" icon @click="snackbarOk = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import axios from '../axios'

    export default {
        names: 'customers',
        data() {
            return {
                snackbarOk: null,
                snackbarOkMsg: '',
                snackbarError: null,
                snackbarErrorMsg: '',
                info: null,
                errored: false,
                customerSearched: '',
                sidebarWidth: '',
                customerToShow: '',
                customerToEdit: '',
                dialog: false,
                dialogEdit: false,
                dialogDelete: false,
                valid: null,
                form: {
                    names: '',
                    lastnames: '',
                    doc_type_id: '',
                    document: '',
                    email: '',
                    address: ''
                },
                rules: {
                    names: [
                        v => !!v || 'El nombre es requerido',
                        v => (v && v.length >= 3) || 'Debe tener al menos 3 letras',
                    ],
                    lastnames: [
                        v => !!v || 'El apellido es requerido',
                        v => (v && v.length >= 3) || 'Debe tener al menos 3 letras',
                    ],
                    doc_type_id: [
                        v => !!v || 'El tipo de documento es requerido'
                    ],
                    document: [
                        v => !!v || 'El documento es requerido',
                        v => (v && v.length >= 6) || 'Debe tener al menos 6 números',
                        v => (v && v.length <= 10) || 'Debe tener máximo 10 números'
                    ],
                    email: [
                        v => !!v || 'El email es requerido',
                        v => (v && v.length >= 3) || 'Debe tener al menos 3 letras',
                        v => new RegExp('[^@]+@[^@]+\\.[^@]+').test(v) || 'El email no es válido',
                        //this.validateMail
                    ],
                    address: [
                        v => !!v || 'La dirección es requerida',
                        v => (v && v.length >= 10) || 'Debe tener al menos 10 letras',
                    ]
                }
            }
        },
        computed: {
            getCurrentUser() {
                return this.$store.getters.getCurrentUser
            },
            getCustomers() {
                return this.$store.getters.getCustomers
            },
            getRoles() {
                return this.$store.getters.getRoles
            },
            getDocTypes() {
                return this.$store.getters.getDocTypes
            }
        },
        mounted() {
            this.$store.dispatch('currentUser')
            this.$store.dispatch('allDocTypes')
            this.$store.dispatch('allRoles')
            this.$store.dispatch('allCustomers')
        },
        methods: {
            searchText: function(){
                this.getCustomers.forEach(customer => {
                    if (customer.names.toUpperCase().includes(this.customerSearched.toUpperCase()) || customer.lastnames.toUpperCase().includes(this.customerSearched.toUpperCase())){
                        return customer.show = true;
                    } else {
                        return customer.show = false;
                    }
                });
            },
            showCustomers() {
                if(this.customerSearched === null){
                    this.getCustomers.forEach(customer => {
                        return customer.show = true;
                    });
                } else {
                    this.searchText();
                }
            },
            showToEdit() {
                this.form.names = this.customerToEdit.names;
                this.form.lastnames = this.customerToEdit.lastnames;
                this.form.doc_type_id = this.customerToEdit.doc_type_id;
                this.form.document = this.customerToEdit.document;
                this.form.address = this.customerToEdit.address;
                this.form.email = this.customerToEdit.email
                this.dialog = false
                this.dialogEdit = true
            },
            showToDelete() {
                this.dialog = false
                this.dialogDelete = true
            },
            viewCustomer: function(i){
                this.customerToShow = this.getCustomers[i];
                this.customerToEdit = this.getCustomers[i];
                this.dialog = true;
            },
            editCustomer: function(i){
                this.customerToShow = this.getCustomers[i];
                this.customerToEdit = this.getCustomers[i];
                this.form.names = this.customerToEdit.names;
                this.form.lastnames = this.customerToEdit.lastnames;
                this.form.doc_type_id = this.customerToEdit.doc_type_id;
                this.form.document = this.customerToEdit.document;
                this.form.address = this.customerToEdit.address;
                this.form.email = this.customerToEdit.email;
                this.dialogEdit = true;
            },
            deleteCustomer: function(i){
                this.customerToShow = this.getCustomers[i];
                this.customerToEdit = this.getCustomers[i];
                this.customerToEdit = this.getCustomers[i];
                this.dialogDelete = true;
            },
            submit() {
                this.$refs.form.validate();
                if (this.valid) {
                    let formData = new FormData()
                    formData.append('names', this.form.names.toUpperCase())
                    formData.append('lastnames', this.form.lastnames.toUpperCase())
                    formData.append('doc_type_id', this.form.doc_type_id)
                    formData.append('document', this.form.document.toUpperCase())
                    formData.append('email', this.form.email.toLowerCase())
                    formData.append('address', this.form.address.toUpperCase())
                    axios.post('customers/' + this.customerToEdit.id + '/edit', formData, {
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.token,
                                'role_id': localStorage.role_id
                            }
                        })
                        .then((res) => {
                            this.$store.dispatch('allCustomers')
                            this.snackbarOk = true
                            this.snackbarOkMsg = 'Se actualizó el usuario ' + res.data.customer.names
                            this.dialogEdit = false
                        })
                        .catch((err) => {
                            this.snackbarError = true
                            this.snackbarErrorMsg = 'Ocurrió un error inesperado'
                            console.error(err.config)
                        })
                } else {
                    this.snackbarError = true
                    this.snackbarErrorMsg = 'Revisa el formulario'
                }
            },
            destroy() {
                axios.post('customers/' + this.customerToEdit.id + '/delete', {}, {
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.token,
                            'role_id': localStorage.role_id
                        }
                    })
                    .then((res) => {
                        this.$store.dispatch('allCustomers')
                        this.snackbarOk = true
                        this.snackbarOkMsg = 'Se eliminó el usuario ' + res.data.customer.names
                        this.dialogDelete = false
                    })
                    .catch((err) => {
                        this.snackbarError = true
                        this.snackbarErrorMsg = 'Ocurrió un error inesperado'
                        console.error(err.config)
                    })
            },
        }
    }
</script>

<style>
    #admin {
        min-height: 100%;
    }

    #admin .v-list-item__title {
        text-transform: uppercase;
        font-weight: 700!important;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .customer .v-card__title {
        line-height: 1.5rem;
        text-transform: uppercase;
        font-weight: 900!important;
    }

    .customer .v-card__title {
        width: 100%;
        word-break: break-word;
    }

    .v-dialog .v-card__actions {
        padding-left: 24px;
        padding-right: 24px;
    }

    .line-height-1 {
        line-height: 1!important;
    }

    label.show {
        font-size: 12px;
        line-height: 12px;
    }

    h3.data {
        color: rgba(0, 0, 0, 0.87);
    }

    .right {
        float: right!important;
    }

    .alert-ok-text, .alert-wrong-text {
        line-height: 36px;
        height: 36px;
    }
</style>