<template>
    <div id="login">
        <v-container class="login">
            <v-card class="mx-auto" max-width="350">
                <form @submit.prevent="login">
                    <v-card-text class="py-0 px-10">
                        <div class="py-8">
                            <v-img class="mx-auto" src="https://www.grupokonecta.com/wp-content/uploads/2016/11/logo-konecta-azul-1.svg" max-width="200" />
                        </div>
                        <v-text-field label="Correo electrónico" outlined clearable v-model="email"/>
                        <v-text-field 
                            v-model="password"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="show1 ? 'text' : 'password'"
                            label="Contraseña"
                            outlined
                            @click:append="show1 = !show1"
                        />
                        <v-select
                            v-model="role_id"
                            :items="getRoles"
                            item-text="name"
                            item-value="id"
                            label="Rol"
                            outlined
                        />
                    </v-card-text>
                    <v-card-actions class="px-10 pb-10">
                        <v-btn class="mx-auto" color="#52bd95" @click="login">
                            INICIAR SESIÓN
                        </v-btn>
                    </v-card-actions>
                </form>
            </v-card>
        </v-container>
        <v-snackbar class="alert-wrong" v-model="snackbarError" dark right top :timeout="6000">
            <span class="alert-wrong-text" v-text="snackbarErrorMsg"></span>
            <v-btn class="right" icon @click="snackbarError = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import axios from '../axios';

    export default {
        data: () => ({
            snackbarError: null,
            snackbarErrorMsg: '',
            show1: false,
            email: '',
            password: '',
            roles: [],
            role_id: null,
            error: false
        }),
        methods: {
            login () {
                console.log(this.role_id);
                axios.post('/auth/login', {
                        email: this.email,
                        password: this.password,
                        role_id: this.role_id
                    })
                    .then((res) => {
                        if (!res.data.token) {
                            this.loginFailed(res)
                            return
                        }
                        localStorage.token = res.data.token
                        localStorage.role_id = res.data.role_id
                        localStorage.expiration = res.data.expiration
                        this.$router.replace('/customers')
                    })
                    .catch((err) => this.loginFailed(err))
            },
            loginFailed(err) {
                console.error(err)
                this.snackbarError = true
                this.snackbarErrorMsg = 'Error en las credenciales'
                localStorage.token = ''
                localStorage.role_id = ''
            }
        },
        computed: {
            getStatusLogin() {
                return this.$store.getters.getStatusLogin
            },
            getCurrentUser() {
                return this.$store.getters.getCurrentUser
            },
            getRoles() {
                return this.$store.getters.getRoles
            }
        },
        mounted () {
            this.$store.dispatch('allRoles')
        }
    }
</script>

<style>
    #login {
        background: linear-gradient(235deg, rgba(28, 28, 54, 0.7) 25%, rgba(82, 189, 149, 0.7));
        background-position: center;
        background-size: cover;
        height: 100%;
    }

    .container.login {
        min-height: 100%;
        display: flex;
        align-items: center;
    }
</style>