<template>
    <v-container id="list-users">
        <v-row>
            <v-col cols="8" offset="2">
                <v-row>
                    <v-col cols="12" sm="7" lg="8">
                        <div class="v-align-center">
                            <h2 class="section-title white-text" style="color: #52bd95;">LISTADO DE USUARIOS</h2>
                        </div>
                    </v-col>
                    <v-col cols="12" sm="5" lg="4" class="text-right">
                        <v-text-field
                            v-model="userSearched"
                            :clear-icon-cb="showUsers()"
                            class="search"
                            label="Buscar por Nombre"
                            prepend-inner-icon="mdi-magnify"
                            clearable
                            dark
                            dense
                            outlined
                            @keyup="searchText()"
                        />
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="8" offset="2">
                <v-list two-line dense subheader dark color="transparent" width="100%">
                    <v-divider/>
                    <div v-for="(user, i) in getUsers" :key="i">
                        <v-list-item v-if="user.show" @click.stop="viewUser(i)">
                            <v-list-item-content>
                                <v-list-item-title  v-text="user.names + ' ' + user.lastnames"/>
                                <v-list-item-subtitle v-text="user.email"/>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-btn icon @click.stop="editUser(i)">
                                    <v-icon color="#52bd95">mdi-pencil</v-icon>
                                </v-btn>
                            </v-list-item-action>
                            <v-list-item-action>
                                <v-btn icon @click.stop="deleteUser(i)">
                                    <v-icon color="#52bd95">mdi-delete</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                        <v-divider/>
                    </div>
                </v-list>
            </v-col>
        </v-row>
        <v-row>
            <v-tooltip content-class="tooltip" color="#323042" left>
                <template v-slot:activator="{ on }">
                    <v-btn class="btn-add-element" absolute fixed right fab color="#52bd95" v-on="on" href="#/users/new">
                        <v-icon>mdi-account-plus</v-icon>
                    </v-btn>
                </template>
                <span>Añadir Usuario</span>
            </v-tooltip>
            <v-dialog v-model="dialog" max-width="350">
                <v-card class="user" v-model="userToShow">
                    <v-card-title class="text-center mb-3">
                        <v-col>
                            <span class="text-center d-inline-block full-width" v-text="userToShow.names +' '+ userToShow.lastnames"/>
                        </v-col>
                    </v-card-title>
                    <v-card-text class="py-0">
                        <v-row>
                            <v-col class="line-height-1" cols="12">
                                <label class="show">Correo Electrónico</label>
                                <div>
                                    <h3 class="data d-inline-block full-width" v-text="userToShow.email"/>
                                </div>
                            </v-col>
                            <v-col class="line-height-1" cols="12">
                                <label class="show">Teléfono</label>
                                <div>
                                    <h3 class="data d-inline-block full-width" v-text="userToShow.phone"/>
                                </div>
                            </v-col>
                            <v-col class="line-height-1" cols="12">
                                <label class="show">Creación</label>
                                <div>
                                    <h3 class="data d-inline-block full-width" v-text="userToShow.created_at"/>
                                </div>
                            </v-col>
                            <v-col class="line-height-1" cols="12">
                                <label class="show">Roles</label>
                                <div>
                                    <ul class="mt-1">
                                        <li v-for="(role, i) in userToShow.roles" :key="i">
                                            <h3 class="data mb-1"  v-text="role.name"/>
                                        </li>
                                    </ul>
                                </div>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions class="py-8">
                        <v-spacer></v-spacer>
                        <v-btn color="#211e32" outlined @click="showToEdit()">
                            Editar
                        </v-btn>
                        <v-btn color="#211e32" dark @click="showToDelete()">
                            Eliminar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogEdit" persistent scrollable max-width="350">
                <v-card class="user">
                    <v-card-title class="text-center mb-3">
                        <v-col>
                            <span class="text-center d-inline-block full-width" v-text="'Editar Usuario'"/>
                        </v-col>
                    </v-card-title>
                    <v-card-text>
                        <v-form ref="form" v-model="valid">
                            <v-row>
                                <v-col class="pb-0 pt-5" cols="12">
                                    <v-text-field
                                        v-model="form.names"
                                        label="Nombres"
                                        prepend-inner-icon="mdi-email"
                                        outlined
                                        dense
                                        :value="userToEdit.names"
                                        :rules="rules.names"
                                    />
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-text-field
                                        v-model="form.lastnames"
                                        label="Apellidos"
                                        prepend-inner-icon="mdi-email"
                                        outlined
                                        dense
                                        :value="userToEdit.lastnames"
                                        :rules="rules.lastnames"
                                    />
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-text-field
                                        v-model="form.email"
                                        label="Correo Electrónico"
                                        prepend-inner-icon="mdi-email"
                                        outlined
                                        dense
                                        :value="userToEdit.email"
                                        :rules="rules.email"
                                    />
                                </v-col>
                                <v-col class="py-0" cols="12">
                                    <v-text-field
                                        v-model="form.phone"
                                        label="Número de teléfono"
                                        prepend-inner-icon="mdi-phone"
                                        outlined
                                        dense
                                        :value="userToEdit.phone"
                                        :rules="rules.phone"
                                    />
                                </v-col>
                                <v-col cols="12">
                                    <label>Roles</label>
                                    <v-row class="py-2">
                                        <v-col class="line-height-1 pb-0" cols="12" v-for="(role, i) in getRoles" :key="i">
                                            <v-checkbox
                                                v-model="form.roles[i]"
                                                class="py-0 my-0"
                                                name="roles[]"
                                                :label="role.name"
                                                :value="role.id"
                                                hide-details
                                            ></v-checkbox>
                                    </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-card-text>
                    <v-card-actions class="pb-8">
                        <v-spacer></v-spacer>
                        <v-btn color="#211e32" outlined @click="dialogEdit = false">
                            Salir
                        </v-btn>
                        <v-btn color="#211e32" dark @click="submit()">
                            Actualizar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" persistent scrollable max-width="350">
                <v-card class="user">
                    <v-card-title class="text-center mb-3">
                        <v-row>
                            <v-col>
                                <span class="text-center d-inline-block full-width" v-text="'ELIMINAR A ' + userToShow.names +' '+ userToShow.lastnames"/>
                            </v-col>
                        </v-row>
                    </v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col>
                                <p class="text-center">Esta acción no se podrá revertir. Esta seguro?</p>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions class="pb-8">
                        <v-spacer></v-spacer>
                        <v-btn color="#211e32" outlined @click="dialogDelete = false">
                            Salir
                        </v-btn>
                        <v-btn color="#211e32" dark @click="destroy()">
                            Eliminar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
        <v-snackbar class="alert-wrong" v-model="snackbarError" dark right top :timeout="6000">
            <span class="alert-wrong-text" v-text="snackbarErrorMsg"></span>
            <v-btn class="right" icon @click="snackbarError = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>
        <v-snackbar class="alert-ok" v-model="snackbarOk" dark right top :timeout="6000">
            <span class="alert-ok-text" v-text="snackbarOkMsg"></span>
            <v-btn class="right" icon @click="snackbarOk = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import axios from '../axios'

    export default {
        names: 'Users',
        data() {
            return {
                snackbarOk: null,
                snackbarOkMsg: '',
                snackbarError: null,
                snackbarErrorMsg: '',
                info: null,
                errored: false,
                userSearched: '',
                sidebarWidth: '',
                userToShow: '',
                userToEdit: '',
                dialog: false,
                dialogEdit: false,
                dialogDelete: false,
                valid: null,
                form: {
                    names: '',
                    lastnames: '',
                    email: '',
                    phone: '',
                    roles: []
                },
                rules: {
                    names: [
                        v => !!v || 'El nombre es requerido',
                        v => (v && v.length >= 3) || 'Debe tener al menos 3 letras',
                    ],
                    lastnames: [
                        v => !!v || 'El apellido es requerido',
                        v => (v && v.length >= 3) || 'Debe tener al menos 3 letras',
                    ],
                    email: [
                        v => !!v || 'El email es requerido',
                        v => (v && v.length >= 3) || 'Debe tener al menos 3 letras',
                        v => new RegExp('[^@]+@[^@]+\\.[^@]+').test(v) || 'El email no es válido',
                        //this.validateMail
                    ],
                    phone: [
                        v => !!v || 'El teléfono es requerido',
                        v => (v && v.length >= 7) || 'Debe tener al menos 7 números',
                        v => (v && v.length <= 10) || 'Debe tener máximo 10 números',
                        v => new RegExp('^[0-9]*$').test(v) || 'El teléfono no es válido'
                    ]
                }
            }
        },
        computed: {
            getCurrentUser() {
                return this.$store.getters.getCurrentUser
            },
            getUsers() {
                return this.$store.getters.getUsers
            },
            getRoles() {
                return this.$store.getters.getRoles
            }
        },
        mounted() {
            if (localStorage.role_id != 1) {
                this.$router.replace('/customers')
            }
            this.$store.dispatch('currentUser')
            this.$store.dispatch('allRoles')
            this.$store.dispatch('allUsers')
        },
        methods: {
            searchText: function(){
                this.getUsers.forEach(user => {
                    if (user.names.toUpperCase().includes(this.userSearched.toUpperCase()) || user.lastnames.toUpperCase().includes(this.userSearched.toUpperCase())){
                        return user.show = true;
                    } else {
                        return user.show = false;
                    }
                });
            },
            showUsers() {
                if(this.userSearched === null){
                    this.getUsers.forEach(user => {
                        return user.show = true;
                    });
                } else {
                    this.searchText();
                }
            },
            showToEdit() {
                this.form.names = this.userToEdit.names;
                this.form.lastnames = this.userToEdit.lastnames;
                this.form.phone = this.userToEdit.phone;
                this.form.email = this.userToEdit.email;
                for (var j = 0; j < this.userToEdit.roles.length; j++) {
                    this.form.roles[j] = this.userToEdit.roles[j].id;
                }
                this.dialog = false
                this.dialogEdit = true
            },
            showToDelete() {
                this.dialog = false
                this.dialogDelete = true
            },
            viewUser: function(i){
                this.userToShow = this.getUsers[i];
                this.userToEdit = this.getUsers[i];
                this.dialog = true;
            },
            editUser: function(i){
                console.log(i)
                this.userToShow = this.getUsers[i];
                this.userToEdit = this.getUsers[i];
                this.form.names = this.userToEdit.names;
                this.form.lastnames = this.userToEdit.lastnames;
                this.form.phone = this.userToEdit.phone;
                this.form.email = this.userToEdit.email;
                for (var j = 0; j < this.userToEdit.roles.length; j++) {
                    this.form.roles[j] = this.userToEdit.roles[j].id;
                }
                this.dialogEdit = true;
            },
            deleteUser: function(i){
                this.userToShow = this.getUsers[i];
                this.userToEdit = this.getUsers[i];
                this.userToEdit = this.getUsers[i];
                this.dialogDelete = true;
            },
            submit() {
                this.$refs.form.validate();
                if (this.valid) {
                    let formData = new FormData()
                    formData.append('names', this.form.names.toUpperCase())
                    formData.append('lastnames', this.form.lastnames.toUpperCase())
                    formData.append('email', this.form.email.toLowerCase())
                    formData.append('phone', this.form.phone.toUpperCase())
                    for (var j = 0; j < this.form.roles.length; j++) {
                        if (this.form.roles[j])
                            formData.append('roles[]', this.form.roles[j]);
                    }
                    axios.post('users/' + this.userToEdit.id + '/edit', formData, {
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.token,
                                'role_id': localStorage.role_id
                            }
                        })
                        .then((res) => {
                            this.$store.dispatch('allUsers')
                            this.snackbarOk = true
                            this.snackbarOkMsg = 'Se actualizó el usuario ' + res.data.user.names
                            this.dialogEdit = false
                        })
                        .catch((err) => {
                            this.snackbarError = true
                            this.snackbarErrorMsg = 'Ocurrió un error inesperado'
                            console.log(err.config)
                        })
                } else {
                    this.snackbarError = true
                    this.snackbarErrorMsg = 'Revisa el formulario'
                }
            },
            destroy() {
                axios.post('users/' + this.userToEdit.id + '/delete', {}, {
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.token,
                            'role_id': localStorage.role_id
                        }
                    })
                    .then((res) => {
                        this.$store.dispatch('allUsers')
                        this.snackbarOk = true
                        this.snackbarOkMsg = 'Se eliminó el usuario ' + res.data.user.names
                        this.dialogDelete = false
                    })
                    .catch((err) => {
                        this.snackbarError = true
                        this.snackbarErrorMsg = 'Ocurrió un error inesperado'
                        console.log(err.config)
                    })
            },
        }
    }
</script>

<style>
    #admin {
        min-height: 100%;
    }

    #admin .v-list-item__title {
        text-transform: uppercase;
        font-weight: 700!important;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .user .v-card__title {
        line-height: 1.5rem;
        text-transform: uppercase;
        font-weight: 900!important;
    }

    .user .v-card__title {
        width: 100%;
        word-break: break-word;
    }

    .v-dialog .v-card__actions {
        padding-left: 24px;
        padding-right: 24px;
    }

    .line-height-1 {
        line-height: 1!important;
    }

    label.show {
        font-size: 12px;
        line-height: 12px;
    }

    h3.data {
        color: rgba(0, 0, 0, 0.87);
    }

    .right {
        float: right!important;
    }

    .alert-ok-text, .alert-wrong-text {
        line-height: 36px;
        height: 36px;
    }
</style>