<template>
    <v-app dark>
        <v-main color="#211e32" style="background-color: #211e32;">
            <router-view/>
        </v-main>
    </v-app>
    
</template>

<script>
    export default {
        data: () => ({
            //
        })
    };
</script>